.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.NavBar {
  background-color: silver;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
}

.Home {
  background-color: darkgray;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
  color: black;
}

.PayrollList {
  color: silver;
  font-size: calc(8px + 2vmin);
  min-height: 10vh;
}

.PayrollList-payrollList {
  color: black;
}

.App {
  background-color: purple;
  color: silver;
  min-height: 100vh;
}
