.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.NavBar {
  text-align: left;
  padding: 50px;
  background-color: silver;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
}

.Home {
  background-color: darkgray;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
  color: black;
}

.PayrollList {
  color: silver;
  text-align: left;
  padding: 50px;
  font-size: calc(8px + 2vmin);
  min-height: 10vh;
}

.PayrollList-payrollList {
  color: black;
}

.material-icons.darkgray {
    padding: 20px;
    position: relative;
    animation: stars 3s linear;
  color: #696969; }

  @keyframes stars {
    0%   {color:#696969; left:0px; bottom:0px;}
    50%  {color:purple; left:140px; bottom:300px;}
  }

.App {
  background-color: purple;
  color: silver;
  min-height: 100vh;
}
